<% stylesheet_link_tag 'about'%>
  <%= render "shared/top_nav" %>
  <main>
    <h1 class="header-style">About</h1>
    <section class="animated fadeInLeft delay-1s about-container"></section>
    <section class='about-container about-container__skills'></section>
  </main>