<% stylesheet_link_tag 'about'%>
  <%= render "shared/top_nav" %>
  <main>
    <h1 class="header-style">About</h1>
    <section class="animated fadeInLeft delay-1s about-container">
      <section class='about__wrapper-text'>
        <!-- 3. Create FOUR components which contain text content that are styled appropriately for audience. -->
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
          dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </section>
      <secton class='photo_wrapper'>
        <!--2. Create FOUR components using HTML and CSS to contain graphical content that are appropriate for audience.-->
        <img alt="profile_photo" src="assets/jinProfile.jpg"/>
      </secton>
    </section>
    <h1 class='header-style'>Skills</h1>
    <section class='about-container about-container__skills'>
      <div class="card">
        <div class="container-card">
          <i alt="javascript_icon" class="devicon-javascript-plain colored"></i>
          <p>Javascript</p>
        </div>
      </div>
      <div class="card">
        <div class="container-card portfolio-card">
          <i alt="bootstrap_icon" class="devicon-bootstrap-plain colored"></i>
          <p>Bootstrap</p>
        </div>
      </div>
      <div class="card">
        <div class="container-card">
          <i alt="nodejs_icon" class="devicon-nodejs-plain colored"></i>
          <p>NodeJs</p>
        </div>
      </div>
      <div class="card">
        <div class="container-card">
          <i alt="rails_icon" class="devicon-rails-plain colored"></i>
          <p>Ruby on Rails</p>
        </div>
      </div>
      <div class="card">
        <div class="container-card">
          <i alt="mongo_icon" class="devicon-mongodb-plain colored"></i>
          <p>MongoDB</p>
        </div>
      </div>
      <div class="card">
        <div class="container-card">
          <i alt="react_icon" class="devicon-react-original colored"></i>
          <p>React</p>
        </div>
      </div>
      <div class="card">
        <div class="container-card">
          <i alt="express_icon" class="devicon-express-original colored"></i>
          <p>Express</p>
        </div>
      </div>
      <div class='card'>
        <div class='container-card'>
          <i alt="css_icon" class="devicon-css3-plain colored"></i>
          <p>
            CSS
          </p>
        </div>
      </div>
      <div class='card'>
        <div class='container-card'>
          <i alt="html_icon" class="devicon-html5-plain colored"></i>
          <p>
            HTML5
          </p>
        </div>
      </div>
      <div class='card'>
        <div class='container-card'>
          <i alt="vue_icon" class="devicon-vuejs-plain colored"></i>
          <p>
            Vue
          </p>
        </div>
      </div>
    </section>
  </main>
  <script src="assets/activeLinks.js"></script>
  <script src="assets/mobileNav.js"></script>
  <%= render "shared/bottom_footer" %>