<%= render "shared/top_nav" %>
<main>
  <h1 class='header-style'>Blogs</h1>
  <section class='container-blog animated fadeInLeft delay-1s'>
    <div class='card blog-cards'>
      <a href='./blog-1.html' target="_blank">
        <!--4.Create FOUR components using HTML and CSS to contain graphical content that are appropriate for audience.-->
        <img alt="tokyo picture1" src="./assets/blog1.jpeg" class='blog-card-img'/>
        <div class='container-card'>
          <h3>Title 1</h3>
          <p>
            10/09/2019
          </p>
        </div>
      </a>
    </div>
    <div class='card blog-cards'>
      <a href="./blog-2.html" target="_blank">
        <img alt="tokyo picture2" src="./assets/blog2.jpeg" class='blog-card-img'/>
        <div class='container-card'>
          <h3>Title 2</h3>
          <p>
            01/09/2019
          </p>
        </div>
      </a>
    </div>
    <div class='card blog-cards'>
      <a href="./blog-3.html" target="_blank">
        <img alt="tokyo picture3" src="./assets/blog3.jpeg" class='blog-card-img'/>
        <div class='container-card'>
          <h3>Title 3</h3>
          <p>
            12/08/2019
          </p>
        </div>
      </a>
    </div>
    <div class='card blog-cards'>
      <a href="./blog-4.html" target="_blank">
        <img alt="tokyo picture4" src="./assets/blog4.jpeg" class='blog-card-img'/>
        <div class='container-card'>
          <h3>Title 4</h3>
          <p>
            2/8/2019
          </p>
        </div>
      </a>
    </div>
    <div class='card blog-cards'>
      <a href="./blog-5.html" target="_blank">
        <img alt="tokyo picture5" src="./assets/blog5.jpeg" class='blog-card-img'/>
        <div class='container-card'>
          <h3>Title 5</h3>
          <p>
            10/07/2019
          </p>
        </div>
      </a>
    </div>
  </section>
</main>
<script src="assets/activeLinks.js"></script>
<script src="assets/mobileNav.js"></script>
<%= render "shared/bottom_footer" %>