<%= render "shared/top_nav" %>
<main>
  <h1 class='header-style'>Portfolio</h1>
  <div class='portfolio-container-hero'>
    <!-- simple parallax effect on the hero image -->
    <img alt="portfolio background photo" class='portfolio-hero' src="./assets/portfolioBackground.jpeg"/>
  </div>
  <section class="portfolio-container__skills">
    <div class="portfolio-container__skills-category">
      <h2 class='header-style header_emphasis'>Frontend Projects</h2>
      <div class="project_wrapper">
        <div class="card ">
          <div class="container-card">
            <p>
              <a target="_blank" href="https://codepen.io/xguardx/pen/baWjYV">Music Search</a>
            </p>
          </div>
        </div>
        <div class="card ">
          <div class="container-card">
            <p>
              <a target="_blank" href="https://find-toilet.netlify.com/">Qik Bathroom</a>
            </p>
          </div>
        </div>
        <div class="card">
          <div class="container-card">
            <p>
              <a href="https://obesity-chart.netlify.com/" target="_blank">Obesity Chart</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-container__skills-category">
      <h2 class='header-style header_emphasis'>Backend Projects</h2>
      <div class="project_wrapper">
        <div class="card ">
          <div class="container-card">
            <p>
              <a href="https://github.com/HuangStanley050/Ruby-Terminal-App" target="_blank">Chuck Norris Joke App</a>
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-container__skills-category">
      <h2 class='header-style header_emphasis'>Fullstack Projects</h2>
      <div class="project_wrapper">
        <div class="card ">
          <div class="container-card">
            <p>
              <a href="https://graphqlgram.netlify.com/" target="_blank">GraphqlGram</a>
            </p>
          </div>
        </div>
        <div class="card ">
          <div class="container-card">
            <p>
              <a href="https://framework-shop.netlify.com/" target="_blank">Frameworks Shop</a>
            </p>
          </div>
        </div>
        <div class="card ">
          <div class="container-card ">
            <p>
              <a href="https://wiki-chatbot.netlify.com/" target="_blank">Wiki Learning bot</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script src="assets/activeLinks.js"></script>
<script src="assets/mobileNav.js"></script>
<script src="assets/portFolio.js"></script>
<%= render "shared/bottom_footer" %>