<%= render "shared/top_nav" %>
<main>
  <h1 class='header-style'>Resume</h1>
  <a target="_blank" class="resume_link animated rubberBand delay-2s" href="https://drive.google.com/file/d/1OAsCVsYSwsbjTpBsm9RHqgmcqSn6qqXs/view?usp=sharing">Download Resume</a>
  <section class='animated fadeInLeft delay-1s container-resume'>
    <!--3. Create FOUR components using HTML and CSS to contain graphical content that are appropriate for audience.-->
    <img alt="resume background" src="./assets/resumeBackground.jpeg" class='resume-image-bg'/>
    <h1 class='header-style'>Experience</h1>
    <article>
      <h2 class='header-style job-title-style'>Service Desk Consultant | Deloitte Australia | 6/2012 to 8/2019
      </h2>
      <ul class="exp-highlights">
        <!-- 2. Create FOUR components which contain text content that are styled appropriately for audience. -->
        <li>
          Selected as Sharepoint sites Champion (9K users)
        </li>
        <li>
          Met/surpassed all KPIs in high-pressured environment
        </li>
        <li>
          Helped lead team to 70% first line resolution rate
        </li>
      </ul>
    </article>
    <article>
      <h2 class='header-style job-title-style'>IT Junior Support Specialist | O-I Australia | 8/2010 to 3/2012
      </h2>
      <ul class='exp-highlights'>
        <li>
          Successfully supported 1K SAP & infrastructure stakeholders in key printer replacement project
        </li>
        <li>
          Managed major Windows upgrade project, increasing team productivity by 20%
        </li>
      </ul>
    </article>
    <h1 class='header-style'>Education</h1>
    <article>
      <h2 class='header-style '>Bachelor of Computer Science | 2004 | Monash University
      </h2>
      <h2 class='header-style '>CoderAcademy Diploma of IT</h2>
    </article>
  </section>
</main>
<script src="assets/activeLinks.js"></script>
<script src="assets/mobileNav.js"></script>
<%= render "shared/bottom_footer" %>