<footer>
  <div class='footer-wrapper'>
    <h2 class='footer-style'>
      <i class="fas fa-at"></i>
      <a href='mailto:huang.stanley050@gmail.com?Subject=Job%20Opportunity'>
        Contact
      </a>
    </h2>
    <h2 class='footer-style'>
      <i class="fab fa-github"></i>
      <a href="https://github.com/HuangStanley050" target="_blank">Github</a>
    </h2>
    <h2 class='footer-style'>
      <i class="fab fa-linkedin"></i>
      <a href='https://www.linkedin.com/in/stanley-huang-1581164b/Linkedin' target="_blank">Linkedin</a>
    </h2>
  </div>
</footer>